#search {
    margin: 10px 0px 10px 10px;
    padding: 0px;
    font-family: 'Garamond', serif;
}

#dateInput {
    margin: 0px 0px 0px 10px;
    padding: 0px;
    font-family: 'Garamond', serif;
}

#searchInput {
    font-family: 'Garamond', serif;
}

h1 {
    margin: 10px 0px 10px 10px;
    padding: 0px;
    font-family: 'Garamond', serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.notes {
    margin: auto;
    text-align: left;
    font-family: 'Courier New', monospace;
}

#recentHeader, #favoriteHeader {
    margin: 10px 0px 10px 10px;
    padding: 0px;
    text-align: left;
    font-family: 'Garamond', serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  
}

ul li {
    display: inline-block;
    text-align: left;
    border: solid 1px;
    margin: 0px 0px 10px 10px;
    border-radius: 20%;
    padding: 10px;
    overflow: hidden;

    width: 20%;
    height: 170px;
    border: solid 1px;
    background-color: rgb(209, 241, 67);
    border-color: rgb(127, 141, 47);
    border:dotted;
    overflow: auto;
}

ul li:hover {
    background-color: rgb(127, 141, 47);
}
