<app-navbar></app-navbar>
<h1 id="title">All Notes</h1>
<hr>
<div id="search">
    <label>Search: </label><input id="searchInput" type="text"[(ngModel)]="search">
    <input id="dateInput" type="date" [(ngModel)]="date">
</div>
<hr>
<ul *ngFor="let notes of allNotes | nameFilter:search | dateFilter:date">
    <a *ngIf="notes.length >= 1" (click)="onClick(notes[0])">
        <li>
            <span><span style="font-weight: bold;">Title: </span>{{notes[0]['title']}}</span><br><br>
            <span><span style="font-weight: bold;">Date: </span>{{notes[0]['dateCreated']}}</span><br><br>
            <!-- <span><span style="font-weight: bold;">Favorite: </span>{{notes[0]['important']}}</span> -->
            <div *ngIf="notes[0]['important']"><img src="assets/123.png" height="30px" width="30px"></div>
            <div *ngIf="!notes[0]['important']"><img src="assets/456.png" height="30px" width="30px"></div>
        </li>
    </a>
    <a *ngIf="notes.length >= 2" (click)="onClick(notes[1])">
        <li>
            <span><span style="font-weight: bold;">Title: </span>{{notes[1]['title']}}</span><br><br>
            <span><span style="font-weight: bold;">Date: </span>{{notes[1]['dateCreated']}}</span><br><br>
            <div *ngIf="notes[1]['important']"><img src="assets/123.png" height="30px" width="30px"></div>
            <div *ngIf="!notes[1]['important']"><img src="assets/456.png" height="30px" width="30px"></div>      </li>
    </a>
    <a *ngIf="notes.length >= 3" (click)="onClick(notes[2])">
        <li>
            <span><span style="font-weight: bold;">Title: </span>{{notes[2]['title']}}</span><br><br>
            <span><span style="font-weight: bold;">Date: </span>{{notes[2]['dateCreated']}}</span><br><br>
            <div *ngIf="notes[2]['important']"><img src="assets/123.png" height="30px" width="30px"></div>
            <div *ngIf="!notes[2]['important']"><img src="assets/456.png" height="30px" width="30px"></div> </li>
    </a>
  
</ul>
<app-view-note *ngIf="noteViewVisible" [note]="currentNote" (closeNote)="closeNote()"></app-view-note>
